
@{
    Layout = null;
}

@model ErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <!-- Encabezados y enlaces CSS -->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
    <!-- Contenido de la página -->
    <h1 class="text-black">Error</h1>
    <p class="text-danger">@Model.ErrorMessage</p>

    @if (Model.parametro2 > 0)
    {
    <a asp-action="@Model.asp_action" asp-controller="@Model.asp_controller" asp-route-idusuario="@Model.parametro2" class="btn btn-primary">Regresar</a>
    }
    else{
        @if (Model.parametro > 0)
        {
            <a asp-action="@Model.asp_action" asp-controller="@Model.asp_controller" asp-route-idpelicula="@Model.parametro" class="btn btn-primary">Regresar</a>
        }

        else
        {
            <a asp-action="@Model.asp_action" asp-controller="@Model.asp_controller" class="btn btn-primary">Regresar</a>
        }
    }

   

   

    <script>
        // Código de SweetAlert para mostrar la notificación

        swal({
            title: 'Error',
            text: '@Model.ErrorMessage',
            icon: 'error',
            button: 'Aceptar'
        });

    </script>

    <!-- Otros scripts y enlaces JS -->
</body>
</html>

