
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}



@model List<PeliculaAutor>

<div class="d-flex justify-content-around ">
    <h1>Asignar Autores</h1>

    
  

    <a asp-action="Upsert" asp-controller="AsignarAutores" asp-route-idpelicula="@TempData["idpelicula"]" class="btn btn-success m-0">Agregar Autor</a>
</div>

<table class="table ">
    <tr>
        <th>
            Id Pelicula
        </th>

        <th>
            Pelicula
        </th>

        <th>
            Nombre
        </th>

        <th>
            Apellido Paterno
        </th>

        <th>
            Apellido Materno
        </th>

        <th class="text-center">
            Acciones
        </th>


    </tr>

    @foreach (var peliculaautor in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m=>peliculaautor.IdPelicula)
               
            </td>

            <td>
                @Html.DisplayFor(m=>peliculaautor.IdPeliculaNavigation.Titulo  )
            </td>

            <td>
                @Html.DisplayFor(m=>peliculaautor.IdCategoriaAutorNavigation.IdAutorNavigation.Nombre  )
            </td>

            <td>
                @Html.DisplayFor(m=>peliculaautor.IdCategoriaAutorNavigation.IdAutorNavigation.APaterno  )
            </td>

            <td>
                @Html.DisplayFor(m=>peliculaautor.IdCategoriaAutorNavigation.IdAutorNavigation.AMaterno  )
            </td>

           
            <td class="d-flex justify-content-around ">

                
                @*<a asp-action="Upsert" asp-route-idpeliculaautor="@peliculaautor.IdPeliculaAutor" asp-route-idpelicula="@peliculaautor.IdPelicula" class="btn btn-primary">Editar</a>*@
                <a asp-action="Upsert" asp-controller="AsignarAutores" asp-route-idpeliculaautor="@peliculaautor.IdPeliculaAutor" asp-route-idpelicula="@peliculaautor.IdPelicula" class="btn btn-primary">Editar</a>


                <a asp-action="Eliminar" asp-route-idpeliculaautor="@peliculaautor.IdPeliculaAutor" asp-route-idpelicula="@peliculaautor.IdPelicula" class="btn btn-danger">Eliminar</a>
            </td>


        </tr>

    }
</table>

@if (Model.Any())
{
    <div class="d-flex justify-content-end">
        <a asp-action="EliminarTodos" asp-controller="AsignarAutores" asp-route-idpelicula="@TempData["idpelicula"]" class="btn btn-danger m-0">Eliminar Todos</a>
    </div>
}

