
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Pelicula>


<div class="d-flex justify-content-around ">
    <h1>Autores</h1>

    <a asp-action="Upsert" asp-controller="Pelicula" class="btn btn-success m-0"> Agregar Pelicula</a>
</div>

<table class="table ">
    <tr>
        <th>
            Id Pelicula
        </th>

       

        <th>
            Categoria
        </th>

        <th>
            Titulo
        </th>

        <th>
           Fecha Registro
        </th>

       

        <th class="text-center">
            Acciones
        </th>


    </tr>

    @foreach (var peliculas in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m=>peliculas.IdPelicula)
            </td>

            <td>
                @Html.DisplayFor(m=>peliculas.IdCategoriaNavigation.Descripcion  )
            </td>

            <td>
                @Html.DisplayFor(m=>peliculas.Titulo  )
            </td>

            <td>
                @Html.DisplayFor(m=>peliculas.FechaRegistro )
            </td>


            <td class="d-flex justify-content-around ">
                <a asp-action="Upsert" asp-route-idautorcategoria="@peliculas.IdPelicula" class="btn btn-primary">Editar</a>
                <a asp-action="Eliminar" asp-route-idautorcategoria="@peliculas.IdPelicula" class="btn btn-danger">Eliminar</a>
            </td>


        </tr>

    }
</table>