
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_layoutusuario.cshtml";
  
}

<h1>Menu</h1>

@model List<List<Pelicula>>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/prueba.css" />

</head>
<body>
    <div class="container">


        
        @foreach (var grupo in Model)
        {
            <div class="row">
                @foreach (var pelicula in grupo)
                {
                    <div class="col-lg-4 ">
                        <div class="card  h-50 border-4 ">
                            <img src="@WcRuta.ImgRuta@pelicula.Imagen" class="card-img-top  image-fit-cover " alt="@pelicula.IdPelicula">
                            <div class="card-body">
                                <h5 class="card-title text-center"> @Html.DisplayFor(m => pelicula.Titulo)</h5>
                                <p class="card-text">@Html.DisplayFor(m => pelicula.Descripcion)</p>
                                <div class="d-flex justify-content-around">
                                    <h6 class="card-title"> @Html.DisplayFor(m => pelicula.IdCategoriaNavigation.Descripcion)</h6>
                                    <h6 class="card-title text-success">Stock Disponible: @Html.DisplayFor(m => pelicula.Stock)</h6>

                                </div>



                                <a asp-action="DetalleProducto" asp-controller="Usuario" asp-route-idusuario="@TempData["idusuario"]"  asp-route-idpelicula="@pelicula.IdPelicula" class="mt-3 btn btn-primary w-100">Ver Detalle</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
       


        
            
            


        


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>

